dataset/raw/GSE
dataset/unlabel/GSE
dataset/misc
dataset/embedding
tools/*
refs/*
dataset/embeddings_preprocess_modified.txt

rules/KG_RDF.csv
rules/go.owl
rules/go.obo
rules/go.rdf
rules/go-plus.owl
results

# tmp
rules/KG_RDF_filter-large.csv
src/tmp_nn_version
